<div class = "faq">
    <div class="card" style="margin-top: 100px">
        <div class="bar"><a href="">What is TuffyPub?</a></div>
        <p>TuffyPub is a university oriented live chatroom. TuffyPub aims to integrate with student univerity portals and provide students with a ready to use account and platform to be able get in touch with fellow students.
            By having a dedicated provided platform students can have acess to communication outside of the classroom without the need to exchange personal information or the need to create a social media acount. 
        </p>
    </div>
    <div class="card">
        <div class="bar"><a href="">Who is TuffyPub for?</a></div>
        <p>TuffyPub is for students looking to connect with fellow students outside of class whether it be for academic or extracurricular purposes.</p>
    </div>

    <div class="card">
    
        <div class="bar"><a href="">How Does TuffyPub Work?</a></div>
        <p>Once logged in users can access various chat rooms according to interest. Once in the chatroom they are free to converse with other users.</p>
    </div>

    <div class="contact-title">
        <h1>Questions or Concerns?</h1>

        <h2>Contact Us</h2>
    </div>

    <div class="contact-form">
        <form id="contact-form" method="POST" action="contact-form-handler.php">
        <input name="name" type="text" class="name" placeholder="Your Name" required> <br>
        <input name="email" type="email" class="email" placeholder="Your Email" required> <br>
        <input name="message" class="message" placeholder="Message" required><br>
        <button type="submit" class="btn btn-primary-outline" id="sub-btn" value="SEND MESSAGE">Submit</button>
        </form>
    </div>
</div>