
a:active, a:focus {
    outline: none !important;
}

.faq {
    display: flex;
    flex-direction:column;
    // align-items: center;
    padding-left: 20%;
}

.card {
    display: flex;
    align-items: left;
    align-self: center;
    width: 60%;
    background-color: white;
    margin-top: 30px;
    padding: 0 10px 0 10px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.384);
    animation: slide-down 1.0s ease;
    transition: 0.1s;
}

.card:hover {
    width: 62%;
    /* padding: 5px 29px 5px 29px; */
    padding: 5px 1.2% 5px 1.2%;
    margin-left: 25px;
    margin-top: 27px;
    border-radius: 0;
}

.bar {
    height: 25px;
    color: grey;
    margin-top: 10px;
    /* background-color: rgb(173, 173, 173) */
}
.bar a {
    text-decoration: none;
    font-weight: 600;
}
.contact-title {
    display: flex;
    flex-direction: column;
    align-items: left;
    align-self: center;
    text-align: center;
    background: white;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.384);
}
.contact-form {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

form {
    width: 100%;
}

.message {
    width: 40%;
    height: 45px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding-left: 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.075);
}

.name {
    width: 40%;
    height: 45px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding-left: 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.075);
}

.email {
    width: 40%;
    height: 45px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding-left: 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.075);
}
#sub-btn {
    width:40%;
    background-color: rgb(46, 11, 70);
    color: white;
}

#sub-btn:hover {
    background-color: rgb(100, 45, 189);
}

a {
    text-decoration: none !important;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}