body {
    display: flex;
    background-color: rgb(245, 245, 245) !important;
    width: 100%;
    margin: 0;
    font-family: source-sans-pro, Tahoma, Geneva, Verdana, sans-serif !important;
    /* background: linear-gradient(#dfdfdf, #e9e9e9) !important; */
    flex-direction: column;
}

.nav {
    position: fixed;
    display: flex;
    background-color: rgb(34, 15, 117);
    width: 100%;
    height: 50px;
    align-items: center;
    padding-left: 50px;
    z-index: 100;
}

.profile {
    background-image: url('https://assets.nrdc.org/sites/default/files/styles/full_content--retina/public/media-uploads/wlds43_654640_2400.jpg?itok=LbhnLIk9');
    background-size: 200px 150px;
    margin-top: 50px;
    /* margin-left: 110px; */
    /* background-color: black; */
    align-self: center;
    border-radius: 120px;
    width: 150px;
    height: 150px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.384);

}

.sidebar p {
    color: white;
    font-size: 30px;
    margin-top: 30px;
    /* margin-left: 100px; */
    align-self: center;
}

.sidebar {
    padding-top:50px;
    background-color: rgb(34, 15, 117);
    z-index: 99;
    display: flex;
    position: fixed;
    width: 20%;
    height: 100%;
    flex-direction: column;
}

.sidelink {
    display: flex;
    height: 40px;
    /* margin-right: 50px; */
    padding: 0 20px 0 20px;
    align-items: center;
    transition: 0.3s;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}

.sidelink:hover {
    background-color: rgb(106, 95, 151);
    color: rgb(180, 180, 180);
}
#post-form {
    height: 100%;
    align-self: center;
    height: 100%;
    width: 35%;
    margin-left: 35px;
    margin-top: 70px;
}

#post-btn {
    margin-top: 5px;
    transition: 0.3s;
}
#post-btn:hover {
    background-color: cornflowerblue;
}

#make-post {
    resize: none;
}

.home {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 20px 0 20px;
    text-decoration: none;
    /* font-family: 'Abril Fatface', cursive; */
    font-family: bungee;
    font-size: 20px;
    color: white;
    border-radius: 3px;

}

.home:hover{
    background-color: rgb(46, 25, 138);
    text-decoration: none;
}

.link {
    display: flex;
    height: 100%;
    /* margin-right: 50px; */
    padding: 0 20px 0 20px;
    align-items: center;
    transition: 0.3s;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}

.link:hover {
    background-color: rgb(106, 95, 151);
    color: rgb(180, 180, 180);
}

.name {
    background-color: rgb(34, 15, 117) !important;

}

.search {
    background-color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 1px;
    position: fixed;
    right: 150px;
    width: 20%;
    padding: 5px 5px 5px 5px;
}

.logout {
    position: fixed;
    /* margin-right: 0; */
    right: 0;
    /* float: right; */
    height: 50px;
}


.card {
    display: flex;
    align-items: left;
    align-self: center;
    width: 40%;
    background-color: white;
    margin-top: 50px;
    margin-left: 45px;
    padding: 0 10px 0 10px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.384);
    animation: slide-down 1.0s ease;
    transition: 0.1s;
}

.card:hover {
    width: 42%;
    /* padding: 5px 29px 5px 29px; */
    padding: 5px 1.2% 5px 1.2%;

    margin-top: 45px;
    border-radius: 0;
}

.bar {
    height: 25px;
    color: grey;
    margin-top: 10px;
    /* background-color: rgb(173, 173, 173) */
}
.bar a {
    text-decoration: none;
    font-weight: 600;
}

a {
    text-decoration: none !important;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}