body {
    height: 100% !important;
    background-color: grey !important;
    overflow: hidden;
}

.login {
    background-color: rgb(218, 218, 218);
    height: 1080px;
    width: 100% !important;
    display: flex;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
    font-family: source-sans-pro, sans-serif !important;
    font-style: normal !important;
    font-weight: 800 !important;
}

h1 {
    font-family: bungee, source-sans-pro sans-serif !important;
    font-style: normal !important;
    font-weight: 800 !important;
}

.part {
    background-color: rgb(34, 15, 117);
    height: 100% !important;
    width: 50% !important;
    display: flex;
    right: 0;
    padding-top: 115px;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
}


.name {
    margin-top: 000px;
    font-size: 100px;
    font-weight: 800;
    margin-left: 120px;
    background-image: url('/assets/tuffy.png');
    background-repeat: no-repeat;
    background-size: 500px 400px;
    padding-right: 200px;
    padding-top: 400px;
}

p {
    color: black;
    font-weight: 400;
}

form {
    width: 500px;
    position: absolute;
    right: 8%;
    margin-top: 150px;
}

label {
    font-size: 16px;
    font-weight: 100;
    color: rgb(0, 0, 0);
}

input {
    border-style: none;
    background-color: transparent;
    border-bottom: solid;
    border-width: 1px;
    border-radius: 0px;
    border-color: #7D92E8;
    color: white;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1.25px;
}

input::placeholder {
    color: rgba(93, 117, 214, 0.47);
    font-size: 16px;
}

input:focus {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.555);
}

.btn {
    text-decoration: none;
    transition: 0.2s;
}

.btn:hover {
    opacity: 0.6
}

.login-button {
    width: 500px;
    height: 47px;
    border: none;
    color: #1D3183;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    display: flex;
    transition: 0.5s;
    background-color: rgb(34, 15, 117);
}

.login-button:hover {
    opacity: 0.8;
}

.login-button p {
    margin: auto;
    color: white;
}

.login-button {
    margin-top: 10px;
    border-radius: 30px;
    margin-bottom: 30px;
}

a {
    text-decoration: none !important;
}

@media (max-width: 1300px) {
    p {
        color: white;
        font-weight: 400;
    }
    .login {
        transition: 0.3s;
        background-color: rgb(34, 15, 117);
    }
    .login-button {
        background-color: rgb(218, 218, 218);
    }
}