.chat-container {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 25px;
    padding-top: 60px;
    // max-height: 92vh;
    // overflow: auto;
    li {
        margin-bottom: 15px;
    }
}

ul {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
}

li {
    margin-bottom: 5px;
}


button { 
    background-color: cornflowerblue;
    border-style:none;
    border-radius: 2px;
}

.message {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    margin-right: 10px;
}
.text {
    width: 90%;
}