.sidebar {
    padding-top:50px;
    background-color: rgb(34, 15, 117);
    z-index: 99;
    display: flex;
    position: fixed !important;
    top: 50px;
    min-width: 200px;
    width: 20%;
    height: 100%;
    flex-direction: column;
    p {
        color: white;
        font-size: 25px;
        /* margin-left: 100px; */
        align-self: center;
    }
}


.createChat {
    display: flex;
    flex-flow: column wrap;
    padding-left: 25px;
    padding-right: 25px;
    height: 10%;
    padding-bottom: 0px;
}


button { 
    background-color: cornflowerblue;
    border-style:none;
    border-radius: 2px;
    transition: 0.3s;
}
button:hover {
    color: white;
    background-color: rgb(46, 11, 70);
}

.nav {
    position: fixed;
    display: flex;
    background-color: rgb(34, 15, 117);
    width: 100%;
    height: 50px;
    align-items: center;
    padding-left: 50px;
    z-index: 100;
}

.profile {
    background-image: url('https://assets.nrdc.org/sites/default/files/styles/full_content--retina/public/media-uploads/wlds43_654640_2400.jpg?itok=LbhnLIk9');
    background-size: 200px 150px;
    margin-top: 50px;
    /* margin-left: 110px; */
    /* background-color: black; */
    align-self: center;
    border-radius: 120px;
    width: 150px;
    height: 150px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.384);
}

.sidelink {
    display: flex;
    height: 40px;
    /* margin-right: 50px; */
    padding: 0 20px 0 20px;
    align-items: center;
    transition: 0.3s;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}

.sidelink:hover {
    background-color: rgb(106, 95, 151);
    color: rgb(180, 180, 180);
}

.home {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 20px 0 20px;
    text-decoration: none;
    /* font-family: 'Abril Fatface', cursive; */
    font-family: bungee;
    font-size: 20px;
    color: white;
    border-radius: 3px;

}

.home:hover{
    background-color: rgb(46, 25, 138);
    text-decoration: none;
}

a {
    text-decoration: none;
}

.link {
    display: flex;
    height: 100%;
    /* margin-right: 50px; */
    padding: 0 20px 0 20px;
    align-items: center;
    transition: 0.3s;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}

.link:hover {
    background-color: rgb(106, 95, 151);
    color: rgb(180, 180, 180);
}

.name {
    background-color: rgb(34, 15, 117) !important;

}

.search {
    background-color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 1px;
    position: fixed;
    right: 150px;
    width: 20%;
    padding: 5px 5px 5px 5px;
}

.logout {
    position: fixed;
    /* margin-right: 0; */
    right: 0;
    /* float: right; */
    height: 50px;
}

@media (max-width:1600px) {
    .profile {
        width: 50px;
    }

}
