<div *ngIf="auth.user$ | async as user" class="sidebar">
    <div class="profile">
    </div>
    <p><a class="link name" href="">{{ user.displayName }}</a></p>
    <ul>
        <a href="dashboard"> 
            <li class="sidelink">
                Global Chat
            </li>
        </a>
        <a href=""> 
            <li class="sidelink">
                My Groups
            </li>
        </a>
        <a href=""> 
            <li class="sidelink">
                Friends
            </li>
        </a>
        <a href=""> 
            <li class="sidelink">
                Calendar
            </li>
        </a>
        <a href=""> 
            <li class="sidelink">
                Preferences
            </li>
        </a>
    </ul>
    <div class="createChat">
        <button (click)="cs.create()">Create New Chat</button>
    </div>
    <p style = "font-size: 18px">User Chats</p>
    <ul>
        <li *ngFor="let chat of userChats$ | async">
            <a [routerLink]="'dashboard/chats/' + chat.id">{{ chat.chatName }} - {{ chat.messages.length }} Messages </a>
            <!-- <a href="https://tuffypub.firebaseapp.com/dashboard/chats/{{ chat.id }}">{{ chat.chatName }} - {{ chat.messages.length }} Messages </a> -->
        </li>
    </ul>
</div>