<ng-container *ngIf="chat$ | async as chat">
  <ng-container *ngIf=" auth.user$ | async as user">
      <div class="dashboard">
        <div class="sidebar">
          <div class="profile">
          </div>
          <p><a class="link name" href="">{{ user.displayName }}</a></p>
          <ul>
              <a href="dashboard"> 
                  <li class="sidelink">
                    Global Chat
                  </li>
              </a>
              <a href=""> 
                  <li class="sidelink">
                      My Groups
                  </li>
              </a>
              <a href=""> 
                  <li class="sidelink">
                      Friends
                  </li>
              </a>
              <a href=""> 
                  <li class="sidelink">
                      Calendar
                  </li>
              </a>
              <a href=""> 
                  <li class="sidelink">
                      Preferences
                  </li>
              </a>
          </ul>
          <p style = "font-size: 18px">User Chats</p>
          <ul>
              <li>
                  <button (click)="cs.create()">Create New Chat</button>
              </li>
              <li *ngFor="let chat of userChats$ | async">
                <a [routerLink]="'chats/' + chat.id">{{ chat.id }} - {{ chat.messages.length }} Messages </a>
              </li>
          </ul>
      </div>
      <div #chatbox class="chatRoom">
        <div class="url">
          <input type="text" class="referralURL" value='https://tuffypub.firebaseapp.com/dashboard/chats/{{ chat.id }}' readonly #referralURL>
          <button class="copy-button" (click)="copy(referralURL)">COPY</button>
        </div>
        <ul onchange='scrollBottom(500)'>
          <li *ngFor="let msg of chat.messages; trackBy: trackByCreated" >
            <strong> {{ msg.user?.displayName}}</strong>
            <br>
            {{ msg.content }}
          </li>
        </ul>
        <div class="message">
          <input class="text" [(ngModel)]="newMsg" name="newMsg" placeholder="Enter your message" (keydown.enter)="submit(chat.id)">
          <button class="send" type="submit" (click)="submit(chat.id)">Send</button>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>


    
    
