.chat-container {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    margin-left: 50px;
    //align-items:center;
    // margin-left: 25%;
}

#post-content {
    display: flex;
    flex-flow: row nowrap;
    // justify-content: space-evenly;
    width: 100%;
    margin-right: 10px;
}

.post-form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.post-text {
    width: 30%;
    margin-left: 15px;
}
#post-btn {
    //display: flex;
    color: white;
    margin-left: 5px;
    background-color: rgb(46, 11, 70)
}

#post-btn:hover {
    background-color: rgb(100, 45, 189);
}

.url {
    position: fixed;
    right: 50px;

    input {
        width: 300px;
        margin-right: 5px;
        opacity: 0.5;
    }
}
.message {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    margin-right: 10px;
}
.text {
    width: 90%;
}


.dashboard {
    display: flex;
    background-color: rgb(245, 245, 245) !important;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: source-sans-pro, Tahoma, Geneva, Verdana, sans-serif !important;
    /* background: linear-gradient(#dfdfdf, #e9e9e9) !important; */
    flex-direction: column;
}

.sidebar p {
    color: white;
    font-size: 30px;
    margin-top: 30px;
    /* margin-left: 100px; */
    align-self: center;
}

.sidebar {
    padding-top:50px;
    background-color: rgb(34, 15, 117);
    z-index: 99;
    display: flex;
    position: fixed;
    min-width: 200px;
    width: 20%;
    height: 100%;
    flex-direction: column;
}

.sidelink {
    display: flex;
    height: 40px;
    /* margin-right: 50px; */
    padding: 0 20px 0 20px;
    align-items: center;
    transition: 0.3s;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}

.sidelink:hover {
    background-color: rgb(106, 95, 151);
    color: rgb(180, 180, 180);
}


.createChat {
    display: flex;
    flex-flow: column wrap;
    padding-left: 25px;
    padding-right: 25px;
    height: 10%;
    padding-bottom: 0px;
}

button { 
    background-color: cornflowerblue;
    border-style:none;
    border-radius: 2px;
}

#post-form {
    height: 100%;
    align-self: center;
    height: 100%;
    width: 35%;
    margin-left: 35px;
    margin-top: 70px;
}

#post-btn {
    margin-top: 5px;
    transition: 0.3s;
}
#post-btn:hover {
    background-color: cornflowerblue;
}

#make-post {
    resize: none;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.link {
    display: flex;
    height: 100%;
    /* margin-right: 50px; */
    padding: 0 20px 0 20px;
    align-items: center;
    transition: 0.3s;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}

.link:hover {
    background-color: rgb(106, 95, 151);
    color: rgb(180, 180, 180);
}

.name {
    background-color: rgb(34, 15, 117) !important;

}

.search {
    background-color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 1px;
    position: fixed;
    right: 150px;
    width: 20%;
    padding: 5px 5px 5px 5px;
}

.logout {
    position: fixed;
    /* margin-right: 0; */
    right: 0;
    /* float: right; */
    height: 50px;
}


.card {
    display: flex;
    align-items: left;
    align-self: center;
    width: 40%;
    background-color: white;
    margin-top: 50px;
    margin-left: 45px;
    padding: 0 10px 0 10px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.384);
    animation: slide-down 1.0s ease;
    transition: 0.1s;
}

.card:hover {
    width: 42%;
    /* padding: 5px 29px 5px 29px; */
    padding: 5px 1.2% 5px 1.2%;

    margin-top: 45px;
    border-radius: 0;
}

.bar {
    height: 25px;
    color: grey;
    margin-top: 10px;
    /* background-color: rgb(173, 173, 173) */
}
.bar a {
    text-decoration: none;
    font-weight: 600;
}

a {
    text-decoration: none !important;
}

