<ng-container *ngIf="chat$ | async as chat">
  <ng-container *ngIf=" auth.user$ | async as user">
    <div class="chat-container">
      <ng-container #badPass *ngIf="chat.password !== pass">
          <div class="password">
              <input [(ngModel)]="pass"  name="pass" type="password" placeholder="enter chat password" (keydown.enter)="changePass(chat.id)">
              <!-- <input class="save" (click)="changePass(chat.id); changeName(chat.id);" value="Save" > -->
          </div>
      </ng-container>
      
      <ng-container *ngIf="chat.password === pass"; else badPass>
        <div class="chat-info">
          <input class="chat-name" [(ngModel)]="newName" name="newName" placeholder="{{ chat.chatName }}" (keydown.enter)="changeName(chat.id)">
      
          <div class="url">
            <input type="text" class="referralURL" value='https://tuffypub.firebaseapp.com/dashboard/chats/{{ chat.id }}' readonly #referralURL>
            <button class="copy-button" (click)="copy(referralURL)">COPY</button>
          </div>
        </div>
        <div class="card" *ngFor="let msg of chat.messages; trackBy: trackByCreated">
          <div class="bar"><a href="">{{ msg.user?.displayName}}</a></div>
            <p class="text" style="text-align: left;" id="post-content">{{ msg.content }}</p>
        </div>
        <div class="post-form">
          <input class="post-text" [(ngModel)]="newMsg" name="newMsg" id="content" placeholder="Enter your message" (keydown.enter)="submit(chat.id)">
          <button type="submit" class="btn btn-primary-outline" id="post-btn" (click)="submit(chat.id)">Send</button>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
