.chat-container {
    display: flex;
    flex-direction: column;
    // align-items:center;
    margin-top: 60px;
    margin-left: 20%;
}

.chat-info {
    background-color: rgb(34, 15, 117);
    z-index: 98;
    position: fixed;
    width: 100% !important;
    padding-left: 10px;
    margin-top: -10px;
    display: flex;
    flex-flow: row wrap;
    width: 200px;
    color: white;
    font-size: 20px;
    font-weight: 800;

    .chat-name{
        padding-left: 15px;
        background-color: rgb(34, 15, 117);
        border-style: none;
        color: white;
        font-size: 20px;
        font-weight: 800;
    }
    .chat-name::placeholder {
        background-color: rgb(34, 15, 117);
        color: white;

        font-size: 20px;
        font-weight: 800;
    }
}

.url {
    position: fixed;
    // top: 60px;
    right: 10px;

    input {
        font-size: 14px;
        width: 300px;
        margin-right: 5px;
        opacity: 0.5;
    }
    button {
        font-size: 16px;
        color: white;
        background-color: rgb(46, 11, 70);
        transition: 0.3s;
    }
    button:hover {
        background-color: rgb(100, 45, 189);
    }
}

.password {
    // position: fixed;
    // margin-left: 15px;
    // top: -10px !important;
    align-self: center;
    display: flex;
    flex-flow: column;
    width: 300px;
    margin-left: 5px;
    margin-top: 50px;
    padding-left: 10px;
}
.save {
    margin-top: 5px;
    text-align: center;
    width: 50px;
}

.card {
    display: flex;
    align-items: left;
    align-self: center;
    width: 70%;
    background-color: white;
    margin-top: 30px;
    margin-left: 45px;
    padding: 0 10px 0 10px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.384);
    animation: slide-down 1.0s ease;
    transition: 0.1s;
}

.card:hover {
    width: 73%;
    /* padding: 5px 29px 5px 29px; */
    padding: 5px 1.2% 5px 1.2%;

    margin-top: 27px;
    border-radius: 0;
}

.bar {
    height: 25px;
    color: grey;
    margin-top: 10px;
    /* background-color: rgb(173, 173, 173) */
}
.bar a {
    text-decoration: none;
    font-weight: 600;
}

a {
    text-decoration: none !important;
}

#post-content {
    display: flex;
    flex-flow: row nowrap;
    // justify-content: space-evenly;
    width: 100%;
    margin-right: 10px;
}

.post-form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.post-text {
    width: 80%;
    height: 45px;
    margin-left: 15px;
    padding-left: 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.075);
}
#post-btn {
    align-self: center;    
    color: white;
    margin-left: 5px;
    background-color: rgb(46, 11, 70);
    transition: 0.3s;
}

#post-btn:hover {
    background-color: rgb(100, 45, 189);
}


@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


